.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #555;
   padding: 15px;
   color: #fff;
}
.footer__menu {
   flex: 0 0 auto;
}
.footer__menu li {
   list-style-type: none;
}
.footer__copy {
   flex: 0 1 auto;
}
