.comment {
   border: 1px solid black;
   padding: 10px;
   border-radius: 5px;
   margin-bottom: 15px;
   background: #7ec7b8;
}

.comment__name {
   font-size: 14px;
}

.comment_dark {
   background-color: #333;
   color: #fff;
}
