.comment {
   border-bottom: 1px solid black;
   padding: 10px;
   margin-bottom: 15px;
   cursor: pointer;
}

.comment__name {
   font-size: 14px;
}

.comment_dark {
   background-color: #333;
   color: #fff;
}

.comment__wrapper {
   display: flex;
}

.comment__content {
   margin-left: 15px;
}

.comments__comment {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.comments__comment .component-with-helper {
   width: 45%;
}

@media (max-width: 992px) {
   .comments__comment .component-with-helper {
      width: 100%;
   }
}
