@media (max-width: 992px) {
   .popularity {
      &__items {
         grid-template: repeat(3, 1fr) / repeat(2, 1fr);
      }
   }
}

@media (max-width: 750px) {
   .popularity {
      &__items {
         grid-template: repeat(6, 1fr) / repeat(1, 1fr);
      }
   }
   .card__wrapper {
      justify-content: space-around;
   }
}

@media (max-width: 520px) {
   .page-head {
      margin-top: 10px;
   }
   .aside {
      position: absolute;
      transform: translate(-110%, 0);
      transition: all 0.3s;
      &_show {
         transform: translate(-6%, 0);
      }
   }
   #openPanel {
      display: block;
   }
}
